{block content}

<h1 n:inner-block="title">
  Dluhy
</h1>

{snippet dluznici}
<table id="dluznici" class="table table-striped">
<thead>
  <tr>
    <th class="col-xs-1">Dluh</th>
    <th>Kupec</th>
  </tr>
</thead>
<tbody>
  <tr n:foreach="$kupci as $jmeno => $dluh">
    <td><a n:if="$dluh" title="Smáznout dluh od {$jmeno}" n:href="dluh!, $jmeno" class="ajax btn btn-primary">{$dluh} Kč</a></td>
    <td>{$jmeno}</td>
  </tr>
</tbody>
</table>
{/snippet}
