<!DOCTYPE html>
<html class="no-js" lang="cs">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Nanuky - {block title}{/block}</title>
  <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{$basePath}/css/bootstrap-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{$basePath}/css/screen.css">
  <link rel="shortcut icon" href="{$basePath}/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  {block head}{/block}
</head>

<body>
  <div class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a n:href="Mrazak:, 'uziv' => null" class="navbar-brand"><span class="glyphicon glyphicon-ice-lolly-tasted"></span> Nanuky <span n:if="$uziv">{$uziv->jmeno}</span></a>
      </div>

      {snippet dluh}
      <ul n:if="$uziv" class="nav navbar-nav navbar-left">
        <li><p class="navbar-text">úvěr {$dluh}&nbsp;Kč</p></li>
        <li><a n:href="Mrazak:platba, $uziv->jmeno" n:if="$dluh" title="Splatit dluh">Zaplatit</a></li>
      </ul>
      {/snippet}

      <ul n:if="$uziv && $uziv->jmeno == 'DHE'" class="nav navbar-nav navbar-right">
        <li><a n:href="Mrazak:pridat">Naskladnění</a></li>
        <li><a n:href="Mrazak:dluhy">Dluhy</a></li>
        <li><a n:href="Mrazak:nakupy">Nákupy</a></li>
      </ul>
    </div> <!-- .container -->
  </div> <!-- .navbar -->

  <div class="container">
    {snippet flash}
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">{$flash->message}</div>
    {/snippet}
    {include content}
  </div> <!-- .container -->

  <script src="{$basePath}/js/jquery.js"></script>
  <script src="{$basePath}/js/nette.ajax.js"></script>
  <script src="{$basePath}/js/confirm.dialog.js"></script>
  <script src="{$basePath}/js/bootstrap.min.js"></script>
  <script src="{$basePath}/js/netteForms.js"></script>
  <script src="{$basePath}/js/main.js"></script>
  {block scripts}{/block}
</body>
</html>
