.navbar-brand {
  background-image: url('../images/brand2.png');
  background-repeat: no-repeat;
  padding-left: 60px;
}
.navbar {
  margin-bottom: 0;
}
.alert {
  margin-top: 20px;
}
#mrazak td, #dluznici td {
  vertical-align: middle;
}
#mrazak a.btn-default, #dluznici a.btn-default{
  width: 100%;
}
