.navbar-brand {
  background-image: url('../images/brand2.png');
  background-repeat: no-repeat;
  padding-left: 60px;
}
#snippet--dluh a {
  color: #000;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
#kupci li {
  line-height: 5em;
}
