.top-bar .title-area .name h1 a  {
  background: url('../images/nanuk.png') 5px 10px no-repeat;
  padding-left: 40px;
}
.top-bar .title-area .name h1 a span {
  margin-left: 20px;
}
.alert-box {
  margin-top: 20px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
#nabidka {
  margin-top: 20px;
}
#nabidka .nanuk {
  margin-bottom: 10px;
}
#nabidka h3 {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
  white-space: nowrap;
}
#nabidka a.image {
  display: block;
  height: 180px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
#nabidka a.image {
  text-decoration: none;
}
#nabidka a.image:hover > h3, #nabidka a.image:hover + .info {
  color: #29abe0;
}
#nabidka a.image:hover + .info {
  background-color: #E5ECF2;
}
#nabidka .labels {
  position: absolute;
  top: 55px;
}
#nabidka .labels .label{
  display: block;
  font-weight: normal;
}
#nabidka .info {
  background-color: #EEF4F9;
  padding: 10px;
}

#kupci .kupec {
  margin-bottom: 20px;
}
#kupci .kupec a {
  background-color: #EEF4F9;
  color: #000;
  display: block;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
#kupci .kupec a:hover {
  background-color: #E5ECF2;
  color: #29abe0;
}
#kupci .kupec a div{
  font-size: 14px;
}

#nakupy {
  width: 100%;
}
#nakupy td a.button {
  margin: 0;
}

.table> tbody > tr:hover > td, .table> tbody > tr:hover > th {
  background-color: #c4e3f3;
}
